In [3]:
cd /home/jovyan/default-of-credit-card-clients-Data-Set

/home/jovyan/default-of-credit-card-clients-Data-Set

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel("default of credit card clients.xls", header = 1)

In [6]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [7]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [8]:
zero = df.EDUCATION == 0
df.EDUCATION = df.EDUCATION.mask(zero, np.nan)
zero1 = df.MARRIAGE == 0
df.MARRIAGE = df.MARRIAGE.mask(zero1, np.nan)
df = df.dropna()

In [9]:
X =  df.drop('default payment next month', axis = 1)

In [10]:
y = df['default payment next month']

In [11]:
X['SEX'] = pd.get_dummies(X['SEX'])
X['EDUCATION'] = pd.get_dummies(X['EDUCATION'])
X['MARRIAGE'] = pd.get_dummies(X['MARRIAGE'])

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [27]:

from sklearn.metrics import mean_squared_error, r2_score

from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [28]:
scaler = StandardScaler()
X_train_scaled = scaler.fit(X_train).transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [30]:
print('KNN score: %f'
      % knn.fit(X_train_scaled, y_train).score(X_test_scaled, y_test))

KNN score: 0.775491

In [31]:
y_pred = knn.predict(X_test_scaled)

In [32]:
from sklearn.metrics import f1_score

**Metrics** F1

In [33]:
from sklearn.metrics import f1_score

In [34]:
f1_score(y_test, y_pred)

0.41747572815533984

In [35]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.83      0.89      0.86      5818
          1       0.49      0.36      0.42      1665

avg / total       0.76      0.78      0.76      7483

** Bench Mark Model---decision tree**

In [23]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
fit = dtree.fit(X_train, y_train)

In [24]:
dtree.score(X_train, y_train)

1.0

In [25]:
dtree.score(X_test, y_test)

0.71829480155018044